$colors: (
  main-color: #5ea3d0,
  secondary-color: white,
  main-text-color: #3e5869,
  secondary-text-color: #b0c7d6,
  send-message-form: #f5f5f5,
);

@function color($color-name) {
  @return map-get($map: $colors, $key: $color-name);
}

.title {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: color(main-color);
  color: color(secondary-color);

  .filter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
  }
}

.logout {
  background-color: color(secondary-color);
  color: color(main-color);
  font-size: 1rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
}
