$colors:(
    main-color: #5ea3d0,
    secondary-color: white,
    main-text-color: #3e5869,
    secondary-text-color: #b0c7d6,
    send-message-form: #F5F5F5,
);

@function color($color-name) {
    @return map-get($map: $colors, $key: $color-name);
}

.message {
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: color(main-color);
    color: color(secondary-color);
    padding: 1rem;
    border-radius: 30px;
    width: fit-content;
    word-wrap: break-word;
}